<h1>Edit Password</h1>

<%= form_for current_user, url: {action: "update_password"} do |f| %>
<div>
  <%= f.label :old_password %>
  <%= f.password_field :old_password, class: 'form-control' %>
</div>
  <div>
    <%= f.label :new_password %>
    <%= f.password_field :new_password, class: 'form-control' %>
  </div>
  <div>
    <%= f.label :new_password_confirmation %>
    <%= f.password_field :new_password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
