<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <%= link_to post_path(@most_recent_post.id) do %>
         <%= image_tag "elephant.jpg", class: "img-responsive" %>
      <% end %>
      <div class="pull-left">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
      </div>
      <div class="pull-right">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h1><%= @most_recent_post.title %></h1>
          <p><%= truncate(@most_recent_post.body, length: 500) { link_to "Continue", post_path(@most_recent_post.id) } %></a>
          <p><a href="#"><%= @most_recent_post.user.first_name %></a>
          <br><%= standard_date_format(@most_recent_post.created_at) %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
      <h1 class="most-liked">Most Liked</h1>
      <a href="#">Stuff Goes Here</a><br>
      <a href="#">My Couch is Blue</a><br>
      <a href="#">Elephants are Awesome!</a><br>
      <a href="#">CodeCore is a cool place to study</a><br>
      <a href="#">Green Eggs and Ham</a><br>
      <a href="#">Fish Floating out the Window</a><br>
      <a href="#">Rainy Vancouver</a><br>
      <a href="#">Linkity Link Link</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @remaining_posts.each do |post| %>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <%= link_to post_path(post.id) do %>
          <%= image_tag "#{rand(1..8)}.JPG", class: "img-responsive" %>
        <% end %>
        <div class="pull-left">
          <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
        </div>
        <div class="pull-right">
          <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
        </div>

        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <h1><%= post.title %></h1>
            <p><%= truncate(post.body, length: 200) { link_to "Continue", post_path(post.id) } %></p>
            <p><a href="#"><%= post.user.first_name %></a>
              <br><%= standard_date_format(post.created_at) %></p>
            </div>
          </div>
        </div>
    <% end %>

  </div>
</div>

<div class="text-center">
  <a href="#"><h2>More Articles</h2></a>
</div>
