<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <%= image_tag "elephant.jpg", class: "img-responsive" %>
      <div class="pull-left">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
      </div>
      <div class="pull-right">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h1>Post Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a href="#">Post Author Name</a>
          <br>Post Date</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
      <h1 class="most-liked">Most Liked</h1>
      <a href="#">Stuff Goes Here</a><br>
      <a href="#">My Couch is Blue</a><br>
      <a href="#">Elephants are Awesome!</a><br>
      <a href="#">CodeCore is a cool place to study</a><br>
      <a href="#">Green Eggs and Ham</a><br>
      <a href="#">Fish Floating out the Window</a><br>
      <a href="#">Rainy Vancouver</a><br>
      <a href="#">Linkity Link Link</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= image_tag "elephant.jpg", class: "img-responsive" %>
      <div class="pull-left">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
      </div>
      <div class="pull-right">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h1>Post Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a href="#">Post Author Name</a>
          <br>Post Date</p>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= image_tag "elephant.jpg", class: "img-responsive" %>
      <div class="pull-left">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
      </div>
      <div class="pull-right">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h1>Post Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a href="#">Post Author Name</a>
          <br>Post Date</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= image_tag "elephant.jpg", class: "img-responsive" %>
      <div class="pull-left">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
      </div>
      <div class="pull-right">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h1>Post Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a href="#">Post Author Name</a>
          <br>Post Date</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= image_tag "elephant.jpg", class: "img-responsive" %>
      <div class="pull-left">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
      </div>
      <div class="pull-right">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h1>Post Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a href="#">Post Author Name</a>
          <br>Post Date</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= image_tag "elephant.jpg", class: "img-responsive" %>
      <div class="pull-left">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
      </div>
      <div class="pull-right">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h1>Post Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a href="#">Post Author Name</a>
          <br>Post Date</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <%= image_tag "elephant.jpg", class: "img-responsive" %>
      <div class="pull-left">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
      </div>
      <div class="pull-right">
        <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
      </div>

      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h1>Post Title</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a href="#">Post Author Name</a>
          <br>Post Date</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="#"><h2>More Articles</h2></a>
</div>
