<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">

      <h1 class="pull-left post-title"><%= @post.title %></h1>
        <div class="pull-right hidden-sm hidden-xs">
          <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456
            <a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
        </div>
    </div>
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <%= image_tag "elephant.jpg", class: "img-responsive" %>
  </div>
  <div class="row post-body">
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <%= @post.body %>
    </div>
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
  </div>
  <div class="row">
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <div class="pull-left cat-date">
        <p><strong>Category: </strong><%= @post.category.name %></p>
      </div>
      <div class="pull-right cat-date">
        <%= @post.created_at %>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
  </div>
  <div class="row post-info hidden-lg hidden-md">
    <div class="pull-left">
      <h3 class="link"><a href="#"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a> 456</h3>
    </div>
    <div class="pull-right hidden-lg hidden-md">
      <h3 class="link"><a href="#"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span></a></h3>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row author-info">
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
          <%= image_tag "flower.jpg", class: "img-responsive" %>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
          <h3 class="author-name"><a href="#">Author Name</a></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <h3 class="comment-padding">Leave a Comment...</h3>


      <%= form_for [@post, @comment] do |f| %>
        <div class="form-group comment-padding">
          <%= f.label :comment %>
          <%= f.text_area :body, class: 'form-control' %>
        </div>
        <%= f.submit 'Post Comment', class: 'btn btn-primary' %>
      <% end %>

      <form>
        <div class="form-group comment-padding">
          <textarea name="comment" class="form-control" rows="8" cols="80"></textarea>
        </div>
        <div class="form-group row comment-padding">
          <label for="name" class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-form-label"><h3>Full Name</h3></label>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
            <input type="text" class="form-control" name="name" id="name">
          </div>
        </div>
      </form>
      <hr>

      <% @post.comments.each do |comment| %>
        <div class="row comment-padding">
          <div class="col-sm-3 col-xs-3">
            <%= image_tag "flower.jpg", class: "img-responsive" %>
          </div>
          <div class="col-sm-9 col-xs-9">
            <p><%= comment.body %></p>
          </div>
        </div>
        <div class="row">
          <div class="pull-left comment-info">
            <p>Comment Author Name</p>
          </div>
          <div class="pull-right comment-info">
            <p><%= comment.created_at %></p>
          </div>
        </div>
      <% end %>

    </div>
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
  </div>
</div>


<div class="text-center">
  <a href="#"><h2>More Comments</h2></a>
</div>
