<!DOCTYPE html>
<html>
  <head>
    <title>Siobhan's Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/e614a769d2.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><%= image_tag "thought_bubble.png", class: "navbar-brand" %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right hidden-lg hidden-md hidden-sm no-form-lines">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>

          <ul class="nav navbar-nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="/posts/new">Create Post</a></li>
          </ul>

          <hr class="hidden-lg hidden-md hidden-sm">

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="navbar-text hello-user">
                <span>Hello, <%= link_to current_user.first_name, edit_user_path(current_user.id) %></span>
              </li>
              <li><%= link_to "Logout", sessions_path, method: :delete,
                       data: {confirm: "Are you sure you want to log out?"}%></li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_path %></li>
              <li><%= link_to "Login", new_session_path %></li>
            <% end %>
          </ul>
          <form class="navbar-form navbar-right hidden-xs">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12 text-center">
          <br>
          <a href="#"><i class="fa fa-envelope-o fa-4x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
